*.log
*.sql
*.sqlite
*.idea
*.vscode



/wp-admin/
/wp-includes/
/wp-mail.php
/wp-trackback.php
/license.txt
/wp-login.php
/wp-cron.php
/index.php
/wp-links-opml.php
/wp-activate.php
/wp-settings.php
/wp-config-sample.php
/wp-signup.php
/wp-load.php
/readme.html
/.htaccess
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/xmlrpc.php

/wp-content/upgrade/
/wp-content/ai1wm-backups/
/wp-content/index.php
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentynineteen/
/wp-content/themes/twentysixteen/
/wp-content/themes/twentytwenty/
/wp-content/themes/index.php
/wp-content/uploads/
/wp-content/mu-plugins/
/wp-content/themes/arise/
/wp-content/themes/rara-business/
